<a href="https://colab.research.google.com/github/vu-topics-in-big-data-2022/Project-Incident-Team2/blob/master/plot_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install boto3 pandas
import boto3, json

Requirement already satisfied: boto3 in /usr/local/lib/python3.7/dist-packages (1.21.42)
Requirement already satisfied: s3transfer<0.6.0,>=0.5.0 in /usr/local/lib/python3.7/dist-packages (from boto3) (0.5.2)
Requirement already satisfied: botocore<1.25.0,>=1.24.42 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.24.42)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /usr/local/lib/python3.7/dist-packages (from boto3) (1.0.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.42->boto3) (1.26.9)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.7/dist-packages (from botocore<1.25.0,>=1.24.42->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.25.0,>=1.24.42->boto3) (1.15.0)

In [3]:
AWS_ACCESS_KEY = "ASIAVOGZQCASKTHTA3T7"
AWS_SECRET_KEY = "AVHIzzviqXQW0UVIJdif5/eaIqdLyjT3VUy3Pmsm"
AWS_REGION = "us-east-1"
AWS_SESSION_TOKEN = "FwoGZXIvYXdzEEcaDJeoPj3JxJmdYmQOByLDAeakN733WuxgIj8NpubsGB35Fv4KRdkjTe6zXfTd9Ojol4rA285O7l8nhvQh6S3dV5HRr6ayhxRYCEhdSfA7bD9gU4yPy/R6gnBZmTkPbAzHbnqCYMK5gqvDLrh0zZqazX5xOvnlPDGLBmXIijDw1U+YEIeLXkUKPOY8qA27PPu78nEOPjtenkxxVhtf6eB0KeAjnvr7a4VtQDFXYCJynJubFTGSFgIklvUBNigMMFvcfN/ZffZHZMiGLtztk4V4tpfIRCjJs/eSBjItQ0EsuzOVkwHSZdvJQfrqOL5CztDx1SIgU4MA/df8YilQHctzI7j6bCdTSN5T"

In [4]:
# Please fill your aws credential information here
credentials = {
    'region_name': 'us-east-1',
    'aws_access_key_id': AWS_ACCESS_KEY,
    'aws_secret_access_key': AWS_SECRET_KEY,
    'aws_session_token': AWS_SESSION_TOKEN
}

In [5]:
session = boto3.session.Session(**credentials)
athena = session.client('athena', region_name='us-east-1')
s3 = session.client('s3')

**Query traffic dataset**

In [91]:
queryID = athena.start_query_execution(
    QueryString = 'SELECT year, COUNT(*) FROM traffic GROUP BY year;',
    QueryExecutionContext = {
        'Database': 'trafficdata'
    }
)['QueryExecutionId']

In [93]:
athena.get_query_execution(
    QueryExecutionId=queryID
)
s3.download_file('vandy-bigdata-finalproject', 'results/' + queryID + '.csv', 'results.csv')
!cat results.csv

"year","_col1"
"2020","749751672"
"2019","605548020"
"2018","414603720"
"2017","256898328"
"2021","137645453"

**Reading csv results into pandas for visualization**

In [103]:
df = pd.read_csv('results.csv')
df['_col1'].sum()

2164447193

**Setting Up on Athena, and Querying -> Saving to CSV -> extracting Results**

In [ ]:
response = client.create_named_query(
    Name='TestQuery',
    Database='incidents',
    QueryString='SELECT COUNT(*) FROM "incidents"."fix2"'
)
print(response)

{'NamedQueryId': '40e464ec-94d8-4179-933e-086af3984dc4', 'ResponseMetadata': {'RequestId': '2f25b5b6-e339-4033-89e3-210182ad73bc', 'HTTPStatusCode': 200, 'HTTPHeaders': {'content-type': 'application/x-amz-json-1.1', 'date': 'Thu, 14 Apr 2022 07:33:25 GMT', 'x-amzn-requestid': '2f25b5b6-e339-4033-89e3-210182ad73bc', 'content-length': '55', 'connection': 'keep-alive'}, 'RetryAttempts': 0}}

In [ ]:
sqe = client.start_query_execution(
    QueryString='SELECT COUNT(*) FROM "incidents"."fix2";',
    QueryExecutionContext={
        'Database': 'incidents'
    },
     ResultConfiguration={
        'OutputLocation': 's3://bigdata-seg/output'
        }
)

In [ ]:
sqe

{'QueryExecutionId': '8655512b-855a-404c-bb45-7eaaf5da00fa',
 'ResponseMetadata': {'HTTPHeaders': {'connection': 'keep-alive',
   'content-length': '59',
   'content-type': 'application/x-amz-json-1.1',
   'date': 'Thu, 14 Apr 2022 07:46:24 GMT',
   'x-amzn-requestid': 'b7239621-ad54-4187-8c16-acb40dc0db73'},
  'HTTPStatusCode': 200,
  'RequestId': 'b7239621-ad54-4187-8c16-acb40dc0db73',
  'RetryAttempts': 0}}

In [ ]:
# https://medium.com/dataseries/automating-athena-queries-from-s3-with-python-and-save-it-as-csv-8917258b1045

gqr = client.get_query_execution(
    QueryExecutionId = sqe['QueryExecutionId']
)

In [ ]:
gqr

{'QueryExecution': {'EngineVersion': {'EffectiveEngineVersion': 'Athena engine version 2',
   'SelectedEngineVersion': 'AUTO'},
  'Query': 'SELECT COUNT(*) FROM "incidents"."fix2"',
  'QueryExecutionContext': {'Database': 'incidents'},
  'QueryExecutionId': '8655512b-855a-404c-bb45-7eaaf5da00fa',
  'ResultConfiguration': {'OutputLocation': 's3://bigdata-seg/output/8655512b-855a-404c-bb45-7eaaf5da00fa.csv'},
  'StatementType': 'DML',
  'Statistics': {'DataScannedInBytes': 0,
   'EngineExecutionTimeInMillis': 566,
   'QueryPlanningTimeInMillis': 104,
   'QueryQueueTimeInMillis': 155,
   'ServiceProcessingTimeInMillis': 162,
   'TotalExecutionTimeInMillis': 883},
  'Status': {'CompletionDateTime': datetime.datetime(2022, 4, 14, 7, 46, 26, 40000, tzinfo=tzlocal()),
   'State': 'SUCCEEDED',
   'SubmissionDateTime': datetime.datetime(2022, 4, 14, 7, 46, 25, 157000, tzinfo=tzlocal())},
  'WorkGroup': 'primary'},
 'ResponseMetadata': {'HTTPHeaders': {'connection': 'keep-alive',
   'content-length': '1383',
   'content-type': 'application/x-amz-json-1.1',
   'date': 'Thu, 14 Apr 2022 07:49:45 GMT',
   'x-amzn-requestid': '68a88cea-f76a-4614-9020-dfab7a6079f6'},
  'HTTPStatusCode': 200,
  'RequestId': '68a88cea-f76a-4614-9020-dfab7a6079f6',
  'RetryAttempts': 0}}

In [ ]:
s3 = session.client('s3')

output_key = "output/" + sqe['QueryExecutionId'] + ".csv"
lines = s3.get_object(Bucket='bigdata-seg', Key=output_key)['Body'].read().decode().splitlines()

In [ ]:
lines

['"_col0"', '"29765"']